<div>
    <h5>
        {{table.tableName}}
    </h5>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col" colspan="2">Value</th>
            </tr>
        </thead>
        <tbody>
            <ng-container *ngFor="let row of table.data; index as i">
                <tr *ngIf="row.children">
                    <td scope="row">{{ i + 1 }}</td>
                    <td colspan="2">{{row.value}}</td>
                </tr>
                <tr *ngFor="let child of row.children; index as ix">
                    <td>&#160;</td>
                    <td scope="row">{{ ix + 1 }}</td>
                    <td>{{child.value}}</td>
                </tr>
                <tr *ngIf="!row.children">
                    <td scope="row">{{ i + 1 }}</td>
                    <td colspan="2">{{row.value}}</td>
                </tr>
            </ng-container>
        </tbody>
    </table>
</div>